.ai-card-deck {
  display: inline-block;

  span {
    button {
      border: none;
      padding: 0;

      card-holder {
        // padding: 0 2px;
      }
    }

    cursor: pointer;
  }
}

.ai-card-deck.no-click {
  span {
    pointer-events: none;
  }
}
