.game-status-container {
  background-color: white;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0 1vw;

  .game-status-player {
    padding: 0 5px;

    &.bold {
      font-weight: bold;
    }
  }

  .game-status-deck-size,
  .game-status-status,
  .game-status-results {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
}
