.waiting-room-wrapper {
  margin: 0px auto;
  max-width: 30rem;
  margin-top: 10vh;
  border: 1px solid var(--login-primary-color);
  padding: 0 40px 20px;
  border-radius: 15px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(140, 129, 129, 0.5);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  color: var(--dixit-modal-dialog-border-color);
  text-shadow: 0 0 1px #c08181;

  h3 {
    text-align: center;
  }
}
