  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Choose game</h5>
        <button type="button" (click)="fetchActiveGames()">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group" *ngIf="activeGames">
          <button [disabled]="processing" (click)="tryWaitingRoom(game)" class="list-group-item list-group-item-action"
            [ngClass]="{'list-group-item-dark': (i % 2), 'list-group-item-secondary': !(i % 2)}"
            *ngFor="let game of activeGames; let i = index">{{game._id}}: {{game.gameName}}</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
      </div>
    </div>
  </div>
