<div class="login-wrapper">
  <h3>Login</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{ 'has-error': invalidUsername() }">
      <input type="text" [attr.disabled]="processing ? true : null" formControlName="username" class="form-control"
        id="username" name="username" placeholder="Username" />
      <p [ngClass]="{'invisible': !invalidUsername()}" id="username_error" class="help-block">
        Invalid username.
      </p>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': invalidPassword() }">
      <input type="password" [attr.disabled]="processing ? true : null" formControlName="password" class="form-control"
        id="password" name="password" placeholder="Password" />
      <p [ngClass]="{'invisible': !invalidPassword()}" id="password_error" class="help-block">
        Invalid password.
      </p>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-secondary" (click)="register()">Register</button>
      <button type="submit" [attr.disabled]="processing ? true : null" class="btn btn-primary">
        Login
      </button>
    </div>

    <div [ngClass]="{'invisible': !wrongData && !networkError}" class="form-group has-error">
      <p class="help-block">{{wrongData? 'Invalid username or password!': 'Network error occured!'}}</p>
    </div>

    <div class="platform-login">
      <button type="button" class="btn btn-primary google-btn" (click)="loginWithGoogle()"><i
          class="fab fa-google"></i></button>
      <button type="button" class="btn btn-primary facebook-btn" (click)="loginWithFacebook()"><i
          class="fab fa-facebook-square"></i></button>
    </div>
  </form>
</div>

<div class="login-screen-results top-month">
  <top-players [type]=0 [title]="'Top Month'">
  </top-players>
</div>
<div class="login-screen-results top-week">
  <top-players [type]=1 [title]="'Top Week'">
  </top-players>
</div>
