.form-group {

  &.has-error {
    color: red;
    padding-bottom: 0px;
  }

  .control-label {
    font-weight: bold;
  }

  .help-block {
    margin-bottom: -2px;
  }
}

.modal {
  top: 10vh;

  .modal-dialog {
    margin: auto;

    .error-msg-left {
      flex-grow: 1;

      p {
        margin: unset;
      }
    }
  }
}


.outlet-wrapper {
  height: 100vh;
  overflow: hidden;
  background-image: url('/assets/images/login-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
