:root {
  --dixit-modal-dialog-primary-color: rgba(72, 12, 2, 1);
  --dixit-modal-dialog-border-color: rgba(56, 9, 2, 1);
}

.form-group {

  & .has-error {
    color: red;
    font-weight: 600;
    padding-bottom: 0px;
    margin-bottom: -1rem;
    font-size: 0.8rem;
  }

  .control-label {
    font-weight: bold;
  }
}

.modal {
  top: 10vh;

  .modal-content {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
  }

  .modal-dialog {
    margin: auto;
  }
}


.outlet-wrapper {
  height: 100vh;
  overflow: hidden;
  background-image: url('../assets/images/login-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
