.form-group {

  &.has-error {
    color: red;
    padding-bottom: 0px;
  }

  padding-bottom: 8px;


  .control-label {
    font-weight: bold;
  }

  .help-block {
    margin-bottom: -16px;
  }
}

.modal {
  top: 10vh;

  .modal-dialog {
    margin: auto;

    .error-msg-left {
      flex-grow: 1;

      p {
        margin: unset;
      }
    }
  }
}

html,
body,
.container-fluid {
  height: 100%;
}
