.create-game-wrraper {
  box-shadow: 0 0 8px 2px rgba(13, 14, 16, 0.8);
  max-width: 100%;
  width: 26rem;
  border-radius: 15px;

  form {
    pointer-events: auto;
  }

  .modal-header,
  .modal-footer {
    background-color: var(--dixit-modal-dialog-primary-color);
    color: white;
    margin-right: -0.5px;
    text-align: center;
    justify-content: center;
    margin-bottom: -0.5px;

    .create-button {
      background-color: rgb(255, 255, 255);
      color: var(--dixit-modal-dialog-primary-color);
      font-weight: 700;
      box-shadow: 0 0 5px 2px rgba(9, 14, 15, 0.5);
    }
  }

  .modal-header {
    border-radius: 15px 15px 0 0;
  }

  .modal-footer {
    border-radius: 0 0 15px 15px;
    justify-content: space-between;
  }

  .modal-body {
    background-color: #e3d3a0;
    margin-right: -0.5px;

    input {
      box-shadow: 0 0 5px 1px #77362f;
    }
  }
}
