<div class="create-game-wrraper">
  <div class="modal-header">
    <h5 class="modal-title">Create Game</h5>
  </div>
  <form [formGroup]="gameForm" (ngSubmit)="!processing && createGame()">
    <div class="modal-body">
      <div class="form-group">
        <label for="game_name" class="control-label">Game name:</label>
        <input type="text" formControlName="game_name" class="form-control" id="game_name" name="game_name"
          placeholder="Sample game">
        <p [ngClass]="{'invisible': !invalidGameName()}" id="game_name_error" class="has-error help-block">Invalid game
          name.</p>
      </div>

      <div class="form-group">
        <label for="number_of_players" class="control-label">Number of players:</label>
        <input type="number" min="3" max="6" formControlName="number_of_players" class="form-control"
          id="number_of_players" name="number_of_players" placeholder=4>
        <p [ngClass]="{'invisible': !invalidNumberOfPlayers()}" id="number_of_players_error"
          class=" has-error help-block">
          Invalid number of players.
        </p>
      </div>

      <div class="form-group">
        <label for="is_private_game" class="control-label">Private Game:</label>
        <input type="checkbox" formControlName="is_private_game" class="form-control checkbox-control"
          id="is_private_game" name="is_private_game">
      </div>

      <div class="form-group" [ngStyle]="!gameForm.value.is_private_game && {'display': 'none'}">
        <label for="private_game_password" class="control-label">Password:</label>
        <input type="password" formControlName="private_game_password" class="form-control" id="private_game_password"
          name="private_game_password">
        <p [ngClass]="{'invisible': !invalidPassword()}" id="private_game_password_error" class=" has-error help-block">
          Invalid password.
        </p>
      </div>
    </div>

    <div class="modal-footer">
      <span class="form-group has-error error-msg-left">
        <p class="help-block">{{message}}</p>
      </span>
      <div class="form-group">
        <button [disabled]="processing" type="submit" class="btn create-button">Create</button>
      </div>
    </div>
  </form>
</div>
