.table-deck-wrapper {
  background-color: saddlebrown;
  width: 100%;
  display: flex;
  height: 50vh;
  min-height: 15em;
  justify-content: center;
  align-items: center;

  card-holder.ai-chosen-card {
    position: absolute;
    right: 1vw;

  }

  .card-box {
    max-width: none;
    min-height: 13em;
    height: 40vh;
  }

  card-deck {
    .card-box:hover {
      height: 42vh;
      min-height: 14em;
    }
  }

}
